<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TinyApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

  <!-- App CSS -->	
  <link rel="stylesheet" href="/styles/app.css" type="text/css" />

</head>
<body class="primary primary--full-width">

  <% include partials/_header.ejs %>

  <main class="primary__main">

    <section class="urls">
        
      <h1>TinyApp - URLs</h1>
      
      <p class="compose"><a href="/urls/new" class="compose-icon" id="compose-button">Create New TinyURL</a></p>

      <ul class="url_list">
          
        <% for (let key in urls) { %>
          <li class="url_list__url">
            
            <div class="shortURL">
              <span>ShortURL: </span><a href="<%= urls[key].longURL %>" target="blank"><%= key %></a>
            </div>
            
            <div class="longURL">
              <span>LongURL: </span><%= urls[key].longURL %> </a>
            </div>
            
            <div class="url__btns">
              <a href="/urls/<%= key %>" class="edit">Edit</a>
              
              <form method="POST" action="/urls/<%= key %>/delete">
                <input type="submit" value="Delete" class="btn reset">
              </form>
            </div>
          
          </li>
        <% } %>

      </ul>

    </section>

  </main> <!-- /.primary__main -->

  <% include partials/_footer.ejs %>

</body>
</html>